@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Inter:wght@400;500;700&family=Outfit:wght@300;400;500&family=Overpass:ital,wght@0,600;1,300&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppin',sans-serif ;
    text-decoration: none;
}
.board2 a{
    color: black;
}
.other:hover{
    background-color: #5852FE;
}
main{
    display: flex;
    width: 100%;
}
aside{
    width: 15%;
    border-right: 1px solid black;
}
.mobile-aside{
    display: none;
}
.aside-after{
    width: 4.7%;
    height: 100vh;
}
.all-none{
    display: none;
}
.aside-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aside-top button{
    border: none;
}
.aside-top2{
    display: flex;
    flex-direction: column;
    gap: 3.7rem;
}
aside .logo{
    width: 100px;
    height: 100px;
}
.aside-top button{
    background-color: transparent;
}
.board{
    background-color: #5852FE;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.board img, .other img, .other2 img{
    width: 35px;
    height: 35px;
}
.other{
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 5px 25px;     
}
.other2{
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 5px 25px;     
}
.other2:hover{
    background-color: rgb(175, 174, 174);
}
.board2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.board3{
    background-color: #5852FE;
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}
.board3 h5{
    color: white;
}
.board3 h5:hover{
    color: #5852FE;
}
.dash-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}
.main-top{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 40px;
}
.dash-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}
.mobile-arrow{
    display: none;
}
.search{
    width: 70%;
    display: flex;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    align-items: center;
    padding: 0 20px;
}
.search input{
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    border: none;
}
.search-img{
    width: 25px;
    height: 25px;
}
.profile{
    display: flex;
    align-content: center;
    gap: 20px;
}
.profile .bell{
    width: 30px;
    height: 30px;
}
.profile .pic{
    width: 60px;
    height: 60px;
}
.dashboard-details{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 30px;
}
.points{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 9rem;
}
.earnings{
    padding: 40px 30px;
    background-color: #5852FE;
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.earnings-point{
    padding: 40px 30px;
    background-color: #34A853;
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.referal-earnings{
    padding: 40px 30px;
    background-color: #F5761A;
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.table{
    display: flex;
}
.table .sn{
    width: 10%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.sn p, .task p, .answered p, .point p{
    border-bottom: 1px solid black;
    font-weight: 600;
}
.sn h4, .task h4, .answered h4, .point h4{
    border-bottom: 1px solid black;
}
.task{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.answered{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.point{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.hamburger{
    content: '/2630';
}

@media screen and (max-width: 950px) {
    main{
        width: 100%;
        overflow: hidden;
    }
    .mobile-arrow{
        display: block;
    }
    .mobile-aside{
        display: block;
        width: 0;
        position: absolute;
        left: 0;
        height: 100vh;
        overflow: hidden;
        transition: .9s ease-in-out;
        z-index: 999;
        background-color: aliceblue;
    }
    .open{
        width: 60%;
        height: 100vh;
        transition: .9s ease-in-out;
    }
    aside{
        display: none;
    }
    .aside-top2{
        gap: 1.6rem;
    }
    .dash-top{
        width: 100%;
    }
    .dash-body{
        overflow-y: scroll;
        width: 100%;
        height: 100vh;
    }
    .main-top{
        width: 100%;
        flex-direction: column;
    }
    .points{
        flex-direction: column;
        gap: 15px;
    }
    .earnings, .referal-earnings, .earnings-point{
        width: 90%;
    }
    .table-container{
        width: 110%;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }
    .answered{
        width: 30%;
    }
    .table h4{
        font-size: small;
    }
    .table p{
        font-weight: 200;
        font-size: small;
    }
    .sn{
        width: 50%;
    }
}
