body{
    display: flex;
}
.leaderboard{
    padding: 40px 45px;
    width: 100%;
}
.leaders-table{
    display: flex;
}
.leader-top{
    margin-bottom: 2rem;
}
.serial{
    width: 10%;
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.name{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.answ{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.reward{
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.serial p, .name p, .answ p, .reward p{
    border-bottom: 1px solid black;
    font-weight: 600;
}
.serial h4, .name h4, .answ h4, .reward h4{
    border-bottom: 1px solid black;
}

@media screen and (max-width: 950px) {
    main{
        width: 100%;
        overflow: hidden;
        height: 100vh;
    }
    .leaderboard{
        flex-direction: column;
        overflow: scroll;
        width: 140%;
        height: 100vh;
    }
    .leader-top{
        width: 110%;
        display: flex;
        justify-content: space-between;
    }
    .leaders-table{
        width: 150%;
        display: flex;
    }
    .answ{
        width: 35%;
    }
    .leaders-table h4{
        font-size: medium;
    }
}

